body{
    background-image: url('happy.jpg');
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: black;
}